.parent{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
}
.right{
    width: 75%;
    height: 100%;
    background-color: bisque;
    overflow: auto;
}
.left{
    width: 25%;
    height: 100%;
    background-color: rgb(86, 48, 2);
    overflow: auto;
    color: white;
}